body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.6;
    margin: 0;
}

a {
    color: rgb(38, 144, 212);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.bg-image {
    background-image: url("../img/background-image.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bg-shadow {
    background-color: rgba(0, 0, 0, .5);
}

.fw-normal {
    font-weight: normal;
}

.gap {
    gap: 20px;
}

.fz-36 {
    font-size: 36px;
}

.jcc {
    justify-content: center;
}

.gallery {
    width: 95vw;
    height: 60vmin;
    gap: 25px;
    margin: 0 auto;
}

.gallery img {
    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: .6s all;
}

.gallery img:hover {
    flex: 4;
}